* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* h2 {
  text-align: center;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 39px;
  line-height: 46px;
  margin: 50px 0px;
} */

.bluebg {
  color: white;
  background-color: #0d72ea;
  border-radius: 4px;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 12px;
  /* line-height: 14.95px; */
  padding: 0px, 54.77px, 10px, 0px;
}

.wider {
  background-color: black;
  width: 100%;
  font-size: 11px;
  /* padding: 8px 0px; */
}

.squareborder {
  color: #0d72ea;
  border: 1px solid #0d72ea;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

.bigpremiumsection {
  background-color: #efefef;
  padding-bottom: 40px;
  font-family: Helvetica, sans-serif;
}

.premiumsection {
  /* padding: 0px 135px; */
  width: 85vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.premiumsectionitem {
  border: 2px solid #cccccc;
  box-shadow: 2px 2px #efefef;
  border-radius: 9px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;
}

.hr {
  border: 1px solid #cccccc;
}

.details {
  height: 224px;
}

.detailitem {
  margin-top: 15px;
}

.plantype {
  font-size: 23px;
  font-weight: 700;
}

/* .fifteen {
  font-size: 15px;
} */

.payment {
  margin: 0 auto;
}

.payment h2 {
  margin-bottom: 0px;
}

.payment p {
  text-align: center;
}

.paymentoptions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0px 23px;
}

.special {
  width: 55vw;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 7px;
  margin: 30px auto 0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.special p {
  font-size: 18px;
  font-weight: 700;
}

.border {
  border: 2px solid black;
  color: black;
  font-size: 10px;
}
